@model Practise.Models.Employee
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("UpdateData", "Employee"))
{ 


        <input type="hidden" name="ID" value="@Model.ID" />
            <label class="col-md-12">Name</label>
            <div class="col-md-12">
                <input type="text" name="name" class="form-control" />
            </div>

            <label class="col-md-12">Address</label>
            <div class="col-md-12">
                <input type="text" name="address" class="form-control" />
            </div>

            <label class="col-md-12">Salary</label>
            <div class="col-md-12">
                <input type="text" name="salary" class="form-control" /><br />
            </div>


            <div class="col-md-12">
                <input style="margin-top:12px" type="submit" name="submit" class="btn btn-success" value="save" id="submit" />
            </div>

}